<div>
    <label>repository</label>
    <div class='main'>
    <table  ng-init="names = ['rainforest', 'support', 'spello', 'activity', 'rianbow']" >
        <tr ng-repeat="name in names" ng-class-odd="'odd'" ng-class-even="'even'">
            <td>{{name}}</td>
        </tr>
    </table>
        </div>
    <div class="form-group row">
        <div class="col-xs-6 col-xs-offset-3">
            <a ui-sref="home.repo-branch" class="btn btn-block btn-info">
                Next Section <span class="glyphicon glyphicon-circle-arrow-right"></span>
            </a>
        </div>
    </div>
</div>